div {
    border: 1px solid red;
    padding: 3px;
}

.calculator {
    margin: 10%;
    max-width: 650px;
}

.row {
    display: flex;
}

.calculator-top {
    display: flex;
    justify-content: flex-end;
}

input {
    width: 470px;
}

.button-number, .button-operator {
    display: flex;
    box-sizing: border-box;
    border-radius: 10px;
    width: 150px;
    height: 150px;
    background-color: aliceblue;
    justify-content: center;
    align-items: center;
    font-size: 5rem;
    margin: 5px;
}

.button-number:active, .button-operator:active {
    background-color: rgb(25, 25, 25);
    color: aliceblue;
  }

.zero {
    width: 470px;
    margin-right: 5px;
}