div {
    border: 1px solid red;
    padding: 3px;
}

.calculator {
    margin: 10%;
    max-width: 500px;
}

.row {
    display: flex;
}

.calculator-top, .runningcalc {
    display: flex;
    justify-content: flex-end;
}

input {
    flex: 3 1 0;
    border: none;
    padding: .5rem;
    margin-right: 1rem;
    max-width: 300px;
    text-align: right;
}

.calculation {
    font-size: xx-large;
}

.button-number, .button-operator, .button {
    display: flex;
    flex: 1 1 0;
    box-sizing: border-box;
    border-radius: 10px;
    max-width: 150px;
    max-height: 150px;
    background-color: aliceblue;
    justify-content: center;
    align-items: center;
    font-size: 5rem;
    margin: 5px;
}

.button-number:active, .button-operator:active, .button:active {
    background-color: rgb(25, 25, 25);
    color: aliceblue;
  }

.zero {
    flex: 2 1 auto;
    max-width: none;
}