div {
    border: 1px solid red;
    padding: 3px;
}

.calculator {
    margin: 10%;
    max-width: 500px;
}

.row {
    display: flex;
}

.calculator-top {
    display: flex;
    justify-content: flex-end;
}

.calculation {
    border: none;
    margin-right: 1rem;
    text-align: right;
    font-size: 15px;
    font-size: 1rem;
}

input {
    flex: 3 1 auto;
}

.button-number, .button-operator {
    display: flex;
    flex: 1 1 0;
    box-sizing: border-box;
    border-radius: 10px;
    max-width: 150px;
    max-height: 150px;
    background-color: aliceblue;
    justify-content: center;
    align-items: center;
    font-size: 5rem;
    margin: 5px;
}

.button-number:active, .button-operator:active {
    background-color: rgb(25, 25, 25);
    color: aliceblue;
  }

.zero {
    flex: 3 1 auto;
    max-width: none;
}